<?php
/**
 * @var $block \Test\Form\Block\Form
*/
?>
<p>PLease enter your data</p>
<form method="post" action="<?php echo $block->getFormAction();?>"
      data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>"
      data-mage-init='{"validation":{}}'>
    <fieldset class="fieldset">
        <div class="field name required">
            <label class="label" for="name"><span><?php /* @escapeNotVerified */ echo __('Name') ?></span></label>
            <div class="control">
                <input name="name" id="name" title="<?php /* @escapeNotVerified */ echo __('Name') ?>" value="" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field email required">
            <label class="label" for="email"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></label>
            <div class="control">
                <input name="email" id="email" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" value="" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
            </div>
        </div>
        <div class="field message required">
            <label class="label" for="message"><span><?php /* @escapeNotVerified */ echo __('Share with us your ideas') ?></span></label>
            <div class="control">
                <textarea name="message" id="message" title="<?php /* @escapeNotVerified */ echo __('Share with us your ideas') ?>" class="input-text" cols="5" rows="5" data-validate="{required:true}"></textarea>
            </div>
        </div>
        <input type="submit">
    </fieldset>    
</form>
