<?php
//TODO Check the var and the mail to
?>
{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p>
                {{trans "Message from %costumer_name." costumer_name=$data.name()}} </p>
            <p>
                {{trans 'You can contact with costumer via <a href="mailto:%costumer_email">%costumer_email</a>' costumer_email=$data.email}}

            </p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            {{var data.message}}
        </td>
    </tr>
    <tr class="email-information">
        <td>
            {{var data.message}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}